@charset "utf-8";
.first-view {
  height: calc(100vh - 110px);
  background-image: url(../img/top.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  
}

.site-title {
  text-align: right;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  font: bold 460%/1.6  "Satisfy", cursive;;
  color: #fff;
}

.lead {
  max-width: 1200px;
  margin: 60px auto;
  font-weight: bold;
  font-family:"Noto Serif JP", serif;
  background: url(../img/film.jpg) bottom right / 500px 300px no-repeat;
}

.midashi {
  padding-top: 200px;
  font: bold 160%/1 "Noto Serif JP", serif;
}

.midashi2 {
  font: 125%/1 "Noto Serif JP", serif;
}